<div class="container" ng-controller="loginCtrl">
  <h2>Please login or <a routerLink="/register">register </a>to access your data</h2>
  <div ng-if="!loggedIn">
    <form name="form">
      <div class="form-group">
        <label for="name">User Name</label>
        <input type="text" id="username" name="username" class="form-control"
            ng-model="identifiers.username" placeholder="Your Username" required>
        <span class="help-block"
            ng-if="form.username.$invalid && form.username.$touched">Please enter a user name!</span>
      </div>
      <div class="form-group">
        <label for="side">Password</label>
        <input type="password" id="password" name="password" class="form-control"
            ng-model="identifiers.password" placeholder="Your Password" required>
        <span class="help-block" ng-if="form.password.$invalid && form.password.$touched">Please enter a password!</span>
      </div>
      <button class="btn btn-primary" type="submit" ng-click="submit(form)" ng-disabled="form.$invalid">Login</button>
    </form>
  </div>
  <div ng-if="loggedIn">
    <h2>You are logged in.</h2>
  </div>
  <div ng-if="authenticationFailed" class="alert alert-danger">Could not log in, please verify username and password</div>
</div>
